<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>SchoolReport</display-name> 
	<description>GA V1.0</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext.xml
		</param-value>
	</context-param>
	
	<filter>
		<filter-name>Login Check Filter</filter-name>
		<filter-class>huxg.schoolreport.security.LoginCheckFilter</filter-class>
		<init-param>
			<param-name>filterPaths</param-name>
			<param-value>/jsp;/home;/layout/needlogin;/Profile</param-value>
		</init-param>
		<init-param>
			<param-name>loginpage</param-name>
			<param-value>/login</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>encodingConvertFilter</filter-name>
		<filter-class>huxg.framework.filter.EncodingConvertFilter</filter-class>
		<init-param>
			<param-name>fromEncoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>toEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>ParameterFilter</filter-name>
		<filter-class>huxg.framework.filter.parameter.ParameterFilter</filter-class>
		<init-param>
			<param-name>multipartResolverBeanName</param-name>
			<param-value>multipartResolver</param-value>
		</init-param>
	</filter>
	
	<!-- <filter>
		<filter-name>siteStatusFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>accessDeniedFilter</filter-name>
		<filter-class>huxg.framework.filter.AccessDeniedFilter</filter-class>
	</filter>

	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter> -->
	
	<!-- <filter>
		<filter-name>compressingFilter</filter-name>
		<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter> -->
	
	<filter-mapping>
		<filter-name>Login Check Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jhtml</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>ParameterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingConvertFilter</filter-name>
		<url-pattern>*.jhtml</url-pattern>
	</filter-mapping>
	-->

	<!-- <filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>/install/data/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>/install/sample/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.properties</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.conf</url-pattern>
	</filter-mapping> -->

	<!-- <filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping> -->


	<!-- <filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping> -->

	<!-- <filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.html</url-pattern> 
	</filter-mapping> -->

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/applicationContext-mvc.xml</param-value>
		</init-param>
		<init-param>
			<param-name>publishContext</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>sysLoaderServlet</servlet-name>
		<servlet-class>huxg.framework.web.servlet.SysLoaderServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>SCS</servlet-name>
		<servlet-class>huxg.framework.security.SCS</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/themes/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/script/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SCS</servlet-name>
		<url-pattern>/SCS</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- 配置StatViewServlet用于展示Druid的统计信息 -->
	<servlet>
      	<servlet-name>DruidStatView</servlet-name>
      	<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
      	<!-- 不支持IPV6-->
		<!-- ip过滤 允许  128.242.127.1/24 24表示，前面24位是子网掩码，比对的时候，前面24位相同就匹配-->
		<!--  
		<init-param>
        	<param-name>allow</param-name>
        	<param-value>128.242.127.1/24,128.242.128.1</param-value>
    	</init-param>
		-->
    	<!-- 拒绝-->
    	<!--  
    	<init-param>
        	<param-name>deny</param-name>
        	<param-value>128.242.127.4</param-value>
    	</init-param>
    	-->
    	<init-param>
        	<param-name>loginUsername</param-name>
        	<param-value>94top</param-value>
    	</init-param>
    	<init-param>
        	<param-name>loginPassword</param-name>
        	<param-value>Te@cherMe</param-value>
    	</init-param>
    	<!-- 监控页面重置按钮开关  -->
		<init-param>
        	<param-name>resetEnable</param-name>
        	<param-value>true</param-value>
    	</init-param>
  	</servlet>
  	<servlet-mapping>
      	<servlet-name>DruidStatView</servlet-name>
      	<url-pattern>/druid/*</url-pattern>
  	</servlet-mapping>
  
  	<!--druid 监控-->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>/static/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>
        <init-param>
            <param-name>principalSessionName</param-name>
            <param-value>huxg.framework.interceptor.MemberInterceptor.PRINCIPAL</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<!-- 配置webAppRootKey -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>top</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file> -->
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/common/resource_not_found.jhtml</location>
	</error-page>

</web-app>